[run]
source = py/desidatamodel
omit =
   py/desidatamodel/_version.py
   py/desidatamodel/conftest*
   py/desidatamodel/cython_version*
   py/desidatamodel/setup_package*
   py/desidatamodel/*/setup_package*
   py/desidatamodel/*/*/setup_package*
   py/desidatamodel/sphinx/*
   py/desidatamodel/test/*
   py/desidatamodel/*/test/*
   py/desidatamodel/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
