Aurelio Carnero Rosell <aurelio.crosell@gmail.com>
Benjamin Alan Weaver <benjamin.weaver@noirlab.edu> <baweaver@lbl.gov>
Benjamin Alan Weaver <benjamin.weaver@noirlab.edu> <benjamin.weaver@nyu.edu>
Benjamin Alan Weaver <benjamin.weaver@noirlab.edu> <weaverba137@users.noreply.github.com>
Jaime E Forero-Romero <j.e.forero.romero@gmail.com>
Julien Guy <jguy@lbl.gov> <julienguy@users.noreply.github.com>
Robert Kehoe <kehoe@physics.smu.edu> <robert@ixchel_astro.com>
Sarah Eftekharzadeh <s.eftekharzadeh@gmail.com> <32471902+Srheft@users.noreply.github.com>
Stephen Bailey <StephenBailey@lbl.gov> <stephen.code@gmail.com>
